Repository wjjunior/shelter-buddy: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c tsc --pretty --noEmit, npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

chore: eslint config
  .eslintrc.cjs
  package-lock.json
  package.json
Due: none

chore: configure jest on eslint
  .eslintrc.cjs
  package-lock.json
  package.json
Due: none

feat: ensure Header component renders the logo with the correct styles
  src/components/Header/Header.tsx
  src/components/Header/index.ts
  src/components/Header/styled.ts
Due: bash -c tsc --pretty --noEmit, npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

test: ensure Header component renders the logo with the correct styles
  src/components/Header/header.spec.tsx
Due: npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

fix: ensure lintstaged and husky are running
  .husky/commit-msg
  .lintstagedrc.json
Due: none

chore: config chance package and upgrade eslint-parser
  package-lock.json
  package.json
Due: none

feat: create InformactiveBadge component
  src/components/informactive-badge/index.ts
  src/components/informactive-badge/informactive-badge.spec.tsx
  src/components/informactive-badge/informactive-badge.tsx
  src/components/informactive-badge/styled.ts
  src/components/informactive-badge/types.ts
Due: bash -c tsc --pretty --noEmit, npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

chore: add Tanstack Query and MobX packages
  package-lock.json
  package.json
Due: none

feat: add SearchInput component
  src/components/search-input/index.ts
  src/components/search-input/search-input.tsx
  src/components/search-input/styled.ts
  src/components/search-input/types.ts
Due: bash -c tsc --pretty --noEmit, npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

test: add SearchInput component
  src/components/search-input/search-input.spec.tsx
Due: npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

feat: add mocked AnimalStore
  src/hooks/types.ts
  src/hooks/use-animal-list.tsx
  src/mocks/mock-animal-list.ts
  src/mocks/mock-animal-store.ts
  src/store/animal-store.ts
  src/store/root-store.ts
  src/store/types.ts
Due: bash -c tsc --pretty --noEmit, npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

chore: chore add testing-library/react-hooks
  package-lock.json
  package.json
Due: none

test: add mocked AnimalStore
  src/hooks/use-animal-list.spec.tsx
  src/store/animal-store.spec.ts
Due: bash -c tsc --pretty --noEmit, npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

feat: add AnimalListItem component
  src/assets/images/placeholder.png
  src/pages/animal-list/components/item/item.tsx
  src/pages/animal-list/components/item/styled.ts
  src/pages/animal-list/components/item/types.ts
  src/store/types.ts
Due: bash -c tsc --pretty --noEmit, npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

test: add AnimalListItem component
  src/pages/animal-list/components/item/item.spec.tsx
Due: npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

feat: add SortableListTableComponent
  src/components/sortable-list/components/table/styled.ts
  src/components/sortable-list/components/table/table.tsx
  src/components/sortable-list/components/table/types.ts
Due: bash -c tsc --pretty --noEmit, npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

test: add SortableListTableComponent
  src/components/sortable-list/components/table/table.spec.tsx
  src/mocks/mock-animal-list.ts
Due: bash -c tsc --pretty --noEmit, npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

fix: minor fixes
  src/components/search-input/search-input.spec.tsx
  src/components/search-input/types.ts
  src/index.tsx
  src/presentation/AnimalsListPage/AnimalsListPageViewModel.tsx
  src/reportWebVitals.ts
  src/utils/utils.test.ts
  src/utils/utils.ts
Due: bash -c tsc --pretty --noEmit, npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

refactor: change imports name
  src/pages/animal-list/components/item/item.tsx
  src/pages/animal-list/components/item/types.ts
Due: bash -c tsc --pretty --noEmit, npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

feat: add AnimalListMobileItem component
  src/pages/animal-list/components/index.ts
  src/pages/animal-list/components/item/index.ts
  src/pages/animal-list/components/mobile-item/index.ts
  src/pages/animal-list/components/mobile-item/mobile-item.tsx
  src/pages/animal-list/components/mobile-item/styled.ts
  src/pages/animal-list/components/mobile-item/types.ts
Due: bash -c tsc --pretty --noEmit, npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

test: add AnimalListMobileItem component
  src/pages/animal-list/components/mobile-item/mobile-item.spec.tsx
Due: npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

fix: adjust unstable tests
  src/components/sortable-list/components/table/table.spec.tsx
  src/pages/animal-list/components/mobile-item/mobile-item.spec.tsx
Due: npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

chore: config pre-push hook
  .husky/pre-push
  package.json
Due: none

chore: config pre-push tester
  .husky/pre-push
  package.json
Due: none

refactor: improve types and imports
  src/components/search-input/search-input.spec.tsx
  src/components/search-input/types.ts
  src/components/sortable-list/components/index.ts
  src/components/sortable-list/components/mobile/index.ts
  src/components/sortable-list/components/mobile/mobile.spec.tsx
  src/components/sortable-list/components/mobile/mobile.tsx
  src/components/sortable-list/components/mobile/styled.ts
  src/components/sortable-list/components/mobile/types.ts
  src/components/sortable-list/components/table/index.ts
  src/components/sortable-list/components/table/types.ts
  src/pages/animal-list/components/item/types.ts
  src/pages/animal-list/components/mobile-item/types.ts
Due: bash -c tsc --pretty --noEmit, npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

refactor: change components name
  src/components/sortable-list/components/mobile/mobile.spec.tsx
  src/pages/animal-list/components/index.ts
  src/pages/animal-list/components/item/index.ts
  src/pages/animal-list/components/item/item.spec.tsx
  src/pages/animal-list/components/item/item.tsx
  src/pages/animal-list/components/mobile-item/index.ts
  src/pages/animal-list/components/mobile-item/mobile-item.spec.tsx
  src/pages/animal-list/components/mobile-item/mobile-item.tsx
Due: bash -c tsc --pretty --noEmit, npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

fix: adjust mock color generation to avoid layout breaking
  src/mocks/mock-animal-list.ts
Due: bash -c tsc --pretty --noEmit, npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

feat: add SortableList component
  src/components/sortable-list/index.ts
  src/components/sortable-list/sortable-list.tsx
  src/components/sortable-list/styled.ts
  src/components/sortable-list/types.ts
Due: bash -c tsc --pretty --noEmit, npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

test: add SortableList component
  src/components/sortable-list/sortable-list.spec.tsx
Due: npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

feat: add Pagination component
  src/components/sortable-list/components/pagination/index.ts
  src/components/sortable-list/components/pagination/pagination.tsx
  src/components/sortable-list/components/pagination/styled.ts
  src/components/sortable-list/components/pagination/types.ts
Due: bash -c tsc --pretty --noEmit, npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

test: add Pagination component
  src/components/sortable-list/components/pagination/pagination.spec.tsx
Due: npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

feat: add Pagination component to SortableList
  src/components/sortable-list/components/index.ts
  src/components/sortable-list/components/pagination/pagination.tsx
  src/components/sortable-list/sortable-list.tsx
  src/components/sortable-list/styled.ts
  src/store/animal-store.ts
  src/utils/constants.ts
Due: bash -c tsc --pretty --noEmit, npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

test: add Pagination component to SortableList
  src/components/sortable-list/sortable-list.spec.tsx
Due: npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

chore: uninstall react-query package
  package-lock.json
  package.json
Due: none

chore: add apollo client
  package-lock.json
  package.json
Due: none

feat: add Apollo client and GraphQL queries
  src/api/apolloClient.ts
  src/store/animal-store.spec.ts
  src/store/animal-store.ts
  src/store/queries.ts
  src/store/types.ts
Due: bash -c tsc --pretty --noEmit, npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

refactor: update components to use graphql
  src/components/search-input/search-input.spec.tsx
  src/components/search-input/search-input.tsx
  src/components/search-input/types.ts
  src/components/sortable-list/components/table/table.tsx
  src/components/sortable-list/components/table/types.ts
  src/components/sortable-list/sortable-list.spec.tsx
  src/components/sortable-list/sortable-list.tsx
  src/components/sortable-list/types.ts
  src/hooks/types.ts
  src/hooks/use-animal-list.spec.tsx
  src/hooks/use-animal-list.tsx
  src/index.tsx
  src/utils/utils.test.ts
  src/utils/utils.ts
Due: bash -c tsc --pretty --noEmit, npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

feat: add Loading component
  src/components/loading/index.ts
  src/components/loading/loading.spec.tsx
  src/components/loading/loading.tsx
Due: bash -c tsc --pretty --noEmit, npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

feat: add animal-list container
  src/pages/animal-list/animal-list.tsx
  src/pages/animal-list/styled.ts
Due: bash -c tsc --pretty --noEmit, npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

refactor: remove unnecessary components
  src/App.tsx
  src/components/sortable-list/sortable-list.tsx
  src/components/sortable-list/types.ts
  src/pages/animal-list/components/index.ts
  src/pages/animal-list/components/item/index.ts
  src/pages/animal-list/components/item/item.spec.tsx
  src/pages/animal-list/components/item/item.tsx
  src/pages/animal-list/components/item/styled.ts
  src/pages/animal-list/components/item/types.ts
  src/pages/animal-list/components/mobile-item/index.ts
  src/pages/animal-list/components/mobile-item/mobile-item.spec.tsx
  src/pages/animal-list/components/mobile-item/mobile-item.tsx
  src/pages/animal-list/components/mobile-item/styled.ts
  src/pages/animal-list/components/mobile-item/types.ts
Due: bash -c tsc --pretty --noEmit, npx eslint --ignore-path .eslintignore --fix ., prettier --ignore-path .gitignore --write

Path conditions:
  bash -c tsc --pretty --noEmit: any of: *.{ts, tsx}
  npx eslint --ignore-path .eslintignore --fix .: any of: *.{js,ts,tsx}
  prettier --ignore-path .gitignore --write: (any of: *.{js,ts,tsx}) or (any of: *.{json})
