Repository wjjunior/shelter-buddy: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c tsc --pretty --noEmit, eslint --ignore-path .eslintignore --fix, prettier --ignore-path .gitignore --write

.lintstagedrc.json:

{
  "*.{ts, tsx}": ["bash -c tsc --pretty --noEmit"],
  "*.{js,ts,tsx}": [
    "eslint --ignore-path .eslintignore --fix",
    "prettier --ignore-path .gitignore --write"
  ],
  "*.json": ["prettier --ignore-path .gitignore --write"]
}

refactor: remove unnecessary files and improve imports
  src/components/Card/Card.tsx
  src/components/Card/index.tsx
  src/components/Grid/GridContainer.tsx
  src/components/Grid/GridItem.tsx
  src/components/Grid/index.tsx
  src/components/Header/Header.tsx
  src/components/SearchBar/SearchBar.tsx
  src/components/index.ts
  src/components/sortable-list/sortable-list.tsx
  src/entities/AnimalEntity.test.ts
  src/entities/AnimalEntity.ts
  src/entities/AnimalPhotoEntity.ts
  src/entities/builders/AnimalEntityBuilder.ts
  src/hooks/index.ts
  src/hooks/use-anima-list/index.ts
  src/hooks/use-anima-list/types.ts
  src/hooks/use-anima-list/use-animal-list.spec.tsx
  src/hooks/use-anima-list/use-animal-list.tsx
  src/hooks/useDidMount.tsx
  src/hooks/useIsFetchingPromise.tsx
  src/index.tsx
  src/mocks/mock-animal-list.ts
  src/mocks/mock-animal-store.ts
  src/pages/animal-list/animal-list.tsx
  src/services/FetchHttpService.ts
  src/services/HttpService.ts
  src/store/animal-store/animal-store.spec.ts
  src/store/animal-store/animal-store.ts
  src/store/animal-store/queries.ts
  src/store/animal-store/types.ts
  src/store/index.ts
  src/useCases/RequestAnimalPhotoUseCase.test.ts
  src/useCases/RequestAnimalPhotoUseCase.ts
  src/useCases/RequestAnimalsUseCase.test.ts
  src/useCases/RequestAnimalsUseCase.ts
  src/useCases/UseCasesContext.tsx
  src/useCases/mockData/MockAnimalPhotoList.json
  src/useCases/mockData/MockAnimalsList.json
  src/utils/utils.test.ts
  src/utils/utils.ts
Due: bash -c tsc --pretty --noEmit, eslint --ignore-path .eslintignore --fix, prettier --ignore-path .gitignore --write

feat: add animal img to the list
  src/components/sortable-list/components/mobile/mobile.spec.tsx
  src/components/sortable-list/components/mobile/mobile.tsx
  src/components/sortable-list/sortable-list.spec.tsx
  src/components/sortable-list/styled.ts
  src/components/sortable-list/types.ts
  src/hooks/index.ts
  src/hooks/use-animal-list/index.ts
  src/hooks/use-animal-list/types.ts
  src/hooks/use-animal-list/use-animal-list.spec.tsx
  src/hooks/use-animal-list/use-animal-list.tsx
  src/pages/animal-list/animal-list.tsx
  src/store/animal-store/animal-store.ts
  src/store/animal-store/types.ts
Due: bash -c tsc --pretty --noEmit, eslint --ignore-path .eslintignore --fix, prettier --ignore-path .gitignore --write

fix: adjust animal list hook import
  src/hooks/use-animal-list/use-animal-list.spec.tsx
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .gitignore --write

feat: add header mobile style breakpoint
  src/components/Header/styled.ts
Due: bash -c tsc --pretty --noEmit, eslint --ignore-path .eslintignore --fix, prettier --ignore-path .gitignore --write

feat: add img fallback
  src/components/sortable-list/components/mobile/mobile.tsx
  src/pages/animal-list/animal-list.tsx
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .gitignore --write

feat: add a responsive pagination component
  src/components/sortable-list/components/pagination/pagination.tsx
  src/components/sortable-list/components/pagination/types.ts
  src/components/sortable-list/sortable-list.tsx
Due: bash -c tsc --pretty --noEmit, eslint --ignore-path .eslintignore --fix, prettier --ignore-path .gitignore --write

test: add a responsive pagination component
  src/components/sortable-list/components/pagination/pagination.spec.tsx
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .gitignore --write

refactor: fix header component name
  src/components/Header/header.spec.tsx
  src/components/Header/index.ts
  src/components/index.ts
  src/pages/animal-list/animal-list.tsx
Due: bash -c tsc --pretty --noEmit, eslint --ignore-path .eslintignore --fix, prettier --ignore-path .gitignore --write

docs: project description
  README.md
Due: none

feat: move ApolloClient URI to an env var
  .env.example
  src/api/apolloClient.ts
Due: bash -c tsc --pretty --noEmit, eslint --ignore-path .eslintignore --fix, prettier --ignore-path .gitignore --write

refactor: rename Header.tsx to header.tsx
  src/components/Header/header.tsx
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .gitignore --write

refactor: rename Header to header
  src/components/header/header.tsx
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .gitignore --write

refactor: group imports on animal-list
  src/pages/animal-list/animal-list.tsx
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .gitignore --write

fix: adjust header component path
  src/components/Header/index.ts
  src/components/header-logo/header-logo.spec.tsx
  src/components/header-logo/header-logo.tsx
  src/components/header-logo/index.ts
  src/components/header-logo/styled.ts
  src/components/index.ts
  src/pages/animal-list/animal-list.tsx
Due: bash -c tsc --pretty --noEmit, eslint --ignore-path .eslintignore --fix, prettier --ignore-path .gitignore --write

fix: ensure the current page will be 1 after search
  src/pages/animal-list/animal-list.tsx
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .gitignore --write

docs: update README.md
  README.md
Due: none

refactor: rename apollo-client file to follow the project pattern
  src/api/apollo-client.ts
  src/index.tsx
  src/store/animal-store/animal-store.ts
Due: bash -c tsc --pretty --noEmit, eslint --ignore-path .eslintignore --fix, prettier --ignore-path .gitignore --write

feat: move Animal interface to domain layer
  src/components/informactive-badge/styled.ts
  src/components/search-input/types.ts
  src/components/sortable-list/components/mobile/mobile.spec.tsx
  src/components/sortable-list/components/mobile/mobile.tsx
  src/components/sortable-list/components/mobile/types.ts
  src/components/sortable-list/components/table/table.tsx
  src/components/sortable-list/components/table/types.ts
  src/components/sortable-list/sortable-list.spec.tsx
  src/components/sortable-list/types.ts
  src/domain/models/animal-model.ts
  src/domain/models/index.ts
  src/domain/models/list-model.ts
  src/hooks/use-animal-list/types.ts
  src/hooks/use-animal-list/use-animal-list.tsx
  src/mocks/mock-animal-list.ts
  src/mocks/mock-animal-store.ts
  src/pages/animal-list/animal-list.tsx
  src/store/animal-store/animal-store.ts
  src/store/animal-store/types.ts
Due: bash -c tsc --pretty --noEmit, eslint --ignore-path .eslintignore --fix, prettier --ignore-path .gitignore --write
